@import "tailwindcss";

@theme {
  --c1: #231f20;
  --c2: #bb4430;
  --c3: #7ebdc2;
  --c4: #f3dfa2;
  --c5: #efe6dd;

  --color-c1: var(--c1);
  --color-c2: var(--c2);
  --color-c3: var(--c3);
  --color-c4: var(--c4);
  --color-c5: var(--c5);
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
}
